@import url("http://cdn.web-fonts.ge/fonts/bpg-ingiri-arial/css/bpg-ingiri-arial.min.css");
@import url("http://cdn.web-fonts.ge/fonts/bpg-nino-mtavruli/css/bpg-nino-mtavruli.min.css");
@import url("http://cdn.web-fonts.ge/fonts/bpg-nino-mtavruli-bold/css/bpg-nino-mtavruli-bold.min.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.lorem {
    font-family: "BPG Ingiri Arial", sans-serif;
}

.mainLorem, .mainLorem_2 {
    font-family: "BPG Nino Mtavruli", sans-serif;

}

.nav li a {
    font-family: "BPG Nino Mtavruli Bold", sans-serif;

}

.features {
    font-family: 'Roboto', sans-serif;
}

.month {
    font-family: "BPG Nino Mtavruli Bold", sans-serif;
}


.nav li a {
    font-family: "BPG Nino Mtavruli Bold", sans-serif;
}
.nav li a {
    font-family: "BPG Nino Mtavruli Bold", sans-serif;
}

.firstmain {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

